NODE_ENV=development
API_PORT=3333
HOST=0.0.0.0
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
JWT_SECRET="change-me-in-development-use-at-least-32-chars-in-production"
FRONTEND_URL="http://localhost:3000"
